<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="comment">
		<meta name="author" content="bill">
		<meta name="description" content="comment">
		<title>影评分析</title>
	</head>
	<body>
		<center><h1>观看青春期猪头少年不会梦到兔女郎学姐1-3后进行评论</h1>
		<div>
			<div>
					<img src="/static/images/cover.png">
			</div>
			<div>
				<div>
                    <form action="/video1/" method="post">
                        <button id="video1" type="submit">第一集</button>
                    </form>
					<form action="/video2/" method="post">
                        <button id="video2" type="submit">第二集</button>
                    </form>
                    <form action="/video3/" method="post">
                        <button id="video3" type="submit">第三集</button>
                    </form>
				</div>
			</div>
            <form action="/comment/" method="post">
					<span>姓名：</span><input type="text" placeholder="暂时只支持英文" name="username"/><br/>
					<span>你的评价:</span><input type="text" placeholder="暂时只支持英文" name="password"/><br/>
					<button id="btn" type="submit">提交</button>
            </form>
        </div>>
	</body>
</html>

	